.MyCarousel-block-view {
    text-align: center;
}


.ant-carousel .slick-slide {
    text-align: center;
    background: #364d79;
    overflow: hidden;
}
  
.ant-carousel .slick-slide h3 {
    background: #000;
    color: #FFF;
}

.wz {
    background-color: #000;
    color: #FFF;
    width : 100%;
    opacity: .6;
}

  